.nav {
 display: flex;
 justify-content: space-between !important;

}
.card {
  border-radius: 15px; 
  box-shadow: 0 4px 9px rgb(117, 117, 117);
}

.logo {
  width: 100px;
}

.iconos a { 
  color: white;
}

